

.container {
    background-color: lightgrey;
    height: 100%;
    width: 100%;

}

#wrapper {
    min-height: 100%; 
}


.jumbotron {
    background-color: green;
    text-align: center;
    font-size: 20px;

}

h1 {
    font-family: sans-serif;
}

.ratings {
    color: red;
    font-family: sans-serif;
    font-size: 18px;
}

h1 {
    color: blueviolet;
    font-size: 45px;
}

.btn-primary {
    margin-left: 10px;
    background: orange;
    color: black;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: grey;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color: black;
    margin-top: 5px;
}